<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost\UTNFRRO; Database=Academia; Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringFlor" connectionString="Server=LAPTOP-DVC8AGA3; Database=master; Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringOrne" connectionString="Server=; Database=; Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tps_net;Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.masterConnectionString"
      connectionString="Data Source=LAPTOP-DVC8AGA3;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>