<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost\UTNFRRO; Database=Academia; Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringFlor" connectionString="Server=LAPTOP-DVC8AGA3\SQLEXPRESS; Database=master; Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tps_net;Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.academia2ConnectionString"
      connectionString="Data Source=BELÉNRC;Initial Catalog=academia2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>